:root { --blackpure: #000; --black: #171719; --black-border: #171718; --white: #fff; --purple: #5c62ec; --colboxsh: 0px 5px 35px rgba(0, 0, 0, 0.25); --dark-bg: var(--black); --dark-border: var(--black-border); --header-text: var(--white); --accent: var(--purple); --boxsh: var(--colboxsh); --black-txt: var(--blackpure); --bg-col: var(--white); --txt-col: var(--black); --title-col: var(--accent); --btn-border: var(--black); --btn-txt: var(--black); --main-col: var(--white); --boxsh: var(--colboxsh); }

.dark { --bg-col: #272323; --txt-col: var(--white); --title-col: #ffb000; --btn-border: var(--white); --btn-txt: var(--white); --main-col: var(--black); --boxsh: 0px 10px 15px rgba(0, 0, 0, 0.8); background-color: var(--bg-col); color: var(--txt-col); }

html, body { font-family: "DM Sans", sans-serif; overflow-x: hidden; width: 100%; background-color: var(--bg-col); color: var(--txt-col); }

.container { max-width: 1260px; margin: 0 auto; }

.wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: 100%; }

.header { background-color: var(--black-border); margin-bottom: 70px; }

.header__wrapper { height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.header__top { padding: 20px 40px; border-bottom: 1px solid #26292d; background: var(--dark-bg); margin-bottom: 100px; }

.header__nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: var(--header-text); -ms-flex-wrap: wrap; flex-wrap: wrap; row-gap: 20px; -webkit-column-gap: 40px; column-gap: 40px; }

.header__nav-logo { font-size: 24px; font-family: "Poppins"; margin-right: auto; font-style: normal; }

.header__nav-logo strong { font-weight: 700; }

.header__nav-item { font-family: "Poppins"; font-style: normal; font-weight: 500; font-size: 16px; line-height: 24px; position: relative; }

.header__nav-item:hover { color: rgba(255, 255, 255, 0.8); }

.header__nav-item::before { content: ""; position: absolute; width: 100%; height: 3px; background-color: var(--accent); top: 100%; left: 0; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; opacity: 0; }

.header__nav-item:hover::before { content: ""; position: absolute; width: 100%; height: 3px; background-color: var(--accent); top: 100%; left: 0; opacity: 1; }

.header__nav-itemlg { margin-right: auto; white-space: nowrap; position: relative; }

.header__theme-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; position: relative; padding: 5px; width: 55px; height: 26px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #272727; border-radius: 50px; }

.header__theme-wrapper::before { content: ""; display: block; position: absolute; top: 1px; left: 1px; width: 24px; height: 24px; background-color: var(--white); border-radius: 50%; -webkit-transition: left 0.2s ease-in; -o-transition: left 0.2s ease-in; transition: left 0.2s ease-in; }

.header__theme-wrapper--active::before { left: 30px; }

.header__btn-light { -webkit-transform: translateX(0%); -ms-transform: translateX(0%); transform: translateX(0%); border-radius: 50px; }

.header__btn-light svg { display: block; }

.header__btn-night { -webkit-transform: translateX(0%); -ms-transform: translateX(0%); transform: translateX(0%); border-radius: 50px; }

.header__btn-night svg { display: block; }

.header__main { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; height: 100vh; width: 100%; }

.header__main-svg { position: absolute; -webkit-transform: translateY(-10%); -ms-transform: translateY(-10%); transform: translateY(-10%); opacity: 0.4; }

.header__main-wrap { -webkit-transform: translateY(-25%); -ms-transform: translateY(-25%); transform: translateY(-25%); }

.header__main-title { color: var(--header-text); text-align: center; font-size: 60px; margin-bottom: 20px; }

.header__main-title > span { font-family: "DM Sans"; font-style: normal; font-weight: 700; line-height: 140%; text-align: center; letter-spacing: -0.5px; color: #fafafa; margin-bottom: 20px; cursor: default; }

.header__main-title span > span { font-size: 60px; }

.header__main-title span span > span { color: #5c62ec; }

.header__main-title span p { font-size: 40px; }

.header__main-subtitle { cursor: default; margin-bottom: 40px; color: white; font-family: "DM Sans"; font-style: normal; font-weight: 500; font-size: 18px; line-height: 24px; text-align: center; letter-spacing: -0.5px; }

.header__main-btn { display: block; width: 160px; height: 48px; border-radius: 5px; background-color: #5c62ec; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0 auto; -webkit-transition: scale 0.3s ease, letter-spacing 0.3s ease, -webkit-transform 0.3s ease; transition: scale 0.3s ease, letter-spacing 0.3s ease, -webkit-transform 0.3s ease; -o-transition: transform 0.3s ease, scale 0.3s ease, letter-spacing 0.3s ease; transition: transform 0.3s ease, scale 0.3s ease, letter-spacing 0.3s ease; transition: transform 0.3s ease, scale 0.3s ease, letter-spacing 0.3s ease, -webkit-transform 0.3s ease; }

.header__main-btn:hover { -webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); }

.header__main-btn div { cursor: pointer; font-family: "DM Sans"; font-style: normal; font-weight: 500; font-size: 16px; line-height: 24px; text-align: center; letter-spacing: 0.15px; color: #ffffff; }

.main { margin-bottom: 70px; }

.main__title { cursor: default; margin-bottom: 60px; text-align: center; font-family: "DM Sans"; font-style: normal; font-weight: 700; font-size: 60px; line-height: 130%; text-align: center; letter-spacing: -0.5px; color: var(--title-col); }

.main__title--col { color: #ffb000; }

.main__content { display: -ms-grid; display: grid; grid: 1fr 1fr/ 1fr 1fr 1fr; row-gap: 30px; }

.main__content a { -ms-grid-column-align: center; justify-self: center; }

.main__item { -ms-grid-column-align: center; justify-self: center; width: 370px; height: 350px; font-family: "DM Sans"; font-style: normal; font-weight: 700; font-size: 24px; line-height: 130%; letter-spacing: -0.5px; -webkit-box-shadow: var(--boxsh); box-shadow: var(--boxsh); border-radius: 10px; -webkit-transition: scale 0.275s ease; -o-transition: scale 0.275s ease; transition: scale 0.275s ease; background-color: var(--main-col); }

.main__item--col { color: var(--white); }

.main__item:hover { scale: 1.1; }

.main__item:active { scale: 1; }

.main__item img { width: 370px; height: 280px; margin-bottom: 15px; border-radius: 10px 10px 0 0; }

.main__item span { margin-left: 20px; cursor: default; }

.footer { margin-top: auto; height: 200px; background-color: #171718; color: white; }

.footer__wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; height: 200px; }

.footer__social { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 28px; }

.footer__social-item { margin-right: 30px; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

.footer__social-item svg:hover { opacity: 0.67; }

.header--height-mg { height: 0px; margin-bottom: 70px; }

.header__nav-item--active:before { content: ""; position: absolute; width: 100%; height: 3px; background-color: var(--accent); top: 100%; left: 0; opacity: 1; }

.header__nav-item--active:hover { color: white; }

.main__wrapper--flex { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.main__title--mt { margin-top: 70px; }

.main__img { background: url(02-big.jpg); -webkit-box-shadow: var(--boxsh); box-shadow: var(--boxsh); border-radius: 10px; margin-bottom: 70px; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

.main__img:hover { scale: 1.02; }

.main__img img { border-radius: 10px; width: 1000px; height: 700px; }

.main__txt { font-family: "DM Sans"; font-style: normal; font-weight: 700; font-size: 24px; line-height: 130%; letter-spacing: -0.5px; text-align: center; margin-bottom: 30px; cursor: default; }

.main__btn { border: 1px solid var(--btn-border); border-radius: 5px; margin-bottom: 70px; padding: 12px 20px; -webkit-transition: scale 0.3s ease, letter-spacing 0.3s ease, -webkit-transform 0.3s ease; transition: scale 0.3s ease, letter-spacing 0.3s ease, -webkit-transform 0.3s ease; -o-transition: transform 0.3s ease, scale 0.3s ease, letter-spacing 0.3s ease; transition: transform 0.3s ease, scale 0.3s ease, letter-spacing 0.3s ease; transition: transform 0.3s ease, scale 0.3s ease, letter-spacing 0.3s ease, -webkit-transform 0.3s ease; }

.main__btn:hover { -webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); }

.main__btn a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.main__btn a svg { margin-right: 10px; }

.main__btn a svg path { fill: var(--btn-txt); }

.main__btn a p { color: var(--btn-txt); }

.main__main--flex { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: auto 0px; }

.main__title--mt-mb { margin-top: 70px; margin-bottom: 40px; }

.main__content-block { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 40px; }

.main__content-block a { color: #7a7dcf; -webkit-transition: letter-spacing 0.3s ease; -o-transition: letter-spacing 0.3s ease; transition: letter-spacing 0.3s ease; }

.main__content-block a:hover { letter-spacing: 0.2rem; }

.main__cont-title { font-family: "DM Sans"; font-style: normal; font-weight: 700; font-size: 40px; text-align: center; margin-bottom: 20px; cursor: default; letter-spacing: -0.5px; line-height: 130%; }

.main__cont-txt { font-family: "DM Sans"; font-style: normal; font-weight: 400; font-size: 18px; text-align: center; line-height: 150%; letter-spacing: -0.5px; }

.main-skills--mb { margin-bottom: 360px; }

.main-contacts--mb { margin-bottom: auto; }

.header_pr-page-all--mb { margin-bottom: 30px; }

.header__top--mb { margin-bottom: 0; }

.main__title--mb-fz { margin-bottom: 30px; font-size: 40px; }

.main__wrapper { height: 100%; }

.main__wrapper--grid-p { display: -ms-grid; display: grid; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 10vh 0 0 0; }

.main--mb-h { margin-bottom: 40vh; height: 100vh; }

.form { width: 440px; height: 400px; background-color: var(--black); font-family: "Dm Sans"; }

.form__title { position: relative; padding: 20px 0 15px 35px; font-size: 28px; font-weight: 500; }

.form__title::before { content: ""; position: absolute; left: 0; top: 100%; height: 1px; width: 100%; background-color: var(--white); opacity: 0.2; }

.form__wrap { padding: 45px 38px; height: calc(100% - 63.01px); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.form__user-name { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 10px 10px; background-color: var(--white); border-radius: 3px; }

.form__user-name img { opacity: 0.65; height: 13px; width: 13px; margin-right: 10px; }

.form__user-name input { height: 100%; background-color: transparent; }

.form__pass { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0px 10px; background-color: var(--white); border-radius: 3px; }

.form__pass img { opacity: 0.65; height: 13px; width: 13px; }

.form__pass input { padding: 10px; background-color: transparent; border-radius: 1px solid black; }

.form__remembforg-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 14px; }

.form__remembforg-wrap .rememb-pass-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.form__remembforg-wrap .rememb-pass-wrap input { margin-right: 8px; scale: 1.3; background-color: #000; }

.form__log-btn { text-align: center; padding: 13px 0; width: 100%; background-color: #ff9900; border-radius: 3px; font-size: 20px; font-weight: 500; text-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.5); -webkit-transition: scale 0.2s ease; -o-transition: scale 0.2s ease; transition: scale 0.2s ease; }

.form__log-btn:hover { scale: 1.05; }

@media (max-width: 820px) { .main__content { display: -ms-grid; display: grid; grid: 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr; row-gap: 30px; padding: 0px 10px; }
  .main__item img { margin-bottom: 0; width: 370px; height: 280px; }
  .main__item { width: 370px; height: 350px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  .main__item span { margin: auto 20px; display: block; } }

@media (max-width: 600px) { .main__content { display: -ms-grid; display: grid; grid: 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr; row-gap: 30px; padding: 0px 10px; }
  .main__item img { margin-bottom: 0; width: 370px; height: 280px; }
  .main__item { width: 370px; height: 350px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  .main__item span { margin: auto 20px; display: block; } }

@media (max-width: 585px) { .header { margin-bottom: 10px; }
  .header__top { margin-bottom: 150px; }
  .header__main { height: 42vh; }
  .header__main-title { font-size: 40px; }
  .header__main-title span > span { font-size: 45px; }
  .header__main-title span p { font-size: 25px; }
  .header__main-wrap { padding: 0px 20px; }
  .main__title { font-size: 40px; margin-bottom: 40px; } }

@media (max-width: 410px) { .header__theme-wrapper { -webkit-transform: translate(5px, -45px); -ms-transform: translate(5px, -45px); transform: translate(5px, -45px); }
  .main__content { padding: 0px 10px; }
  .main__item img { margin-bottom: 0; width: 280px; height: 200px; }
  .main__item { width: 280px; height: 270px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  .main__item span { margin: auto 20px; display: block; font-size: 20px; } }

@media (max-width: 350px) { .header__main { height: 100vh; }
  .header__main-wrap { padding: 0px 40px; }
  .header__top { padding: 0px 30px 20px 20px; margin-bottom: 11%; }
  .header__nav { -webkit-column-gap: 30px; column-gap: 30px; }
  .header__theme-wrapper { -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; margin-left: auto; -webkit-transform: translate(10px, 45px); -ms-transform: translate(10px, 45px); transform: translate(10px, 45px); }
  .header__main-svg { -webkit-transform: translateY(-1%); -ms-transform: translateY(-1%); transform: translateY(-1%); }
  .header__main-title span > span { font-size: 40px; }
  .header__main-title span p { font-size: 30px; }
  .header__main-subtitle { font-size: 20px; }
  .footer { height: 140px; }
  .footer__wrapper { height: 140px; width: 100%; }
  .container { margin: 0px; }
  .footer__social { -webkit-column-gap: 20px; column-gap: 20px; }
  .footer__social-item { margin-right: 0px; } }
