// color
$black: #151515;
$white: #fff;
$white2: #e8e8e8;
$blue: #0066ff;

// title, subtitle
$fw: 700;
$fs: normal;
$ff: "Inter", sans-serif;
$tac: center;

// margin
$mp150: 150px;
$mp100: 100px;
$mp50: 50px;
$mp40: 40px;
$mp30: 30px;
$mp20: 20px;
$mp18: 18px;

// border style
$bds: solid;


// button
$scale: 1.2 ;

// car
$scale__car: 1.1;
$transition: scale .425s ease ;

// link a
$transition__link: color .275s ease;


